/* style the body */

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #588204;
    color: rgb(1, 47, 184);
}
/* Added style to the submit button to make it more enjoayble */
button[type="submit"]{
    color: rgb(223, 40, 19);
    background-color: rebeccapurple;
    padding: 10px;
    border: none;
    border-radius: 4px;
}
/* style the player list */
.player_list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
/* style the player */
.player{
    border: 5px solid #91999f;
    padding: 10px;
    cursor: pointer;
    width: 150px;
    text-align: center;
    background-color: #305155;
}

.budget_info{
    margin: 20px 0;
}
